<footer class="footer">
    <div class="aboutUs">
        <div><h1>About Us</h1></div>
        <p class="common-links"><a href="#">Integer rutrum ligula eu</a></p>
        <p class="common-links"><a href="#">dignissim laoreet. Pellentesque</a></p>
        <p class="common-links"><a href="#">venenatis nibh sed tellus</a></p>
        <p class="common-links"><a href="#">faucibus bibendum. Sed</a></p>
        <p class="common-links"><a href="#">fermentum est vitae rhoncus</a></p>
        <p class="common-links"><a href="#">molestie. Cum sociis natoque</a></p>
    </div>
    <div class="info-link">
        <div><h1>Information Links</h1></div>
        <p class="common-links"><a href="#">Home</a></p>
        <p class="common-links"><a href="#">Blog</a></p>
        <p class="common-links"><a href="#">Pricing</a></p>
        <p class="common-links"><a href="#">About</a></p>
        <p class="common-links"><a href="#">Contact</a></p>
    </div>
    <div class="contact-details">
        <div><h1>Contact Details</h1></div>
        <p class="common-links"><a href="#">info@yoursite.com</a></p>
        <p class="common-links"><a href="#">www.yoursite.com</a></p>
        <p class="common-links"><a href="#">PO Box 16122 Collins Street</a></p>
        <p class="common-links"><a href="#">+61 3 8376 6284</a></p>
    </div>
</footer>
<div class="reserved">
    All Rights Reserved. © 2022 EduPortal Created By : Emirhan
</div>