<nav class="navbar">
    <div class="brand">EduPortal</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if(userIN){ %> 
                <li><a href="/users/dashboard">Dashboard</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } %> 
            <% if(!userIN){ %> 
                <li><a href="/login">L</a></li>
                <li><a href="/register">R</a></li>
            <% } %> 
        </ul>
    </div>
</nav>