    <%- include('partials/_header.ejs') %>

    <%- include('partials/_navigation.ejs') %>

    <div class="carousel about-carousel">
        <div class="carousel-items">
            <h1>About Us</h1>
            <p class="carousel-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
        </div>
    </div>

    <div class="success">
        <div class="latest-success">
            <h1>Our Latest Achievements</h1>
        </div>
        <div class="success-main">
            <div class="success-info">
                <h1 class="success-name">Awards Winner Support Center</h1>
                <div class="success-desc-div"><h3 class="success-desc">Lorem ipsum dolor sit amet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor enim itaque officiis esse, odit cumque? Error temporibus, soluta recusandae maxime, eius beatae necessitatibus officiis ducimus vel hic vero dicta cupiditate.</h3></div>
                <button class="common learn-more">Learn More</button>
            </div>
            <div class="success-img">
                <img src="/img/elearn.jpg" class="success-image" width="450" height="350" alt="">
            </div>
        </div>
        <div class="success-main">
            <div class="success-img">
                <img src="/img/edu.jpg" class="success-image" width="450" height="350" alt="">
            </div>
            <div class="success-info">
                <h1 class="success-name">Awards Winner Support Center</h1>
                <div class="success-desc-div"><h3 class="success-desc">Lorem ipsum dolor sit amet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor enim itaque officiis esse, odit cumque? Error temporibus, soluta recusandae maxime, eius beatae necessitatibus officiis ducimus vel hic vero dicta cupiditate.</h3></div>
                <button class="common learn-more">Learn More</button>
            </div>
        </div>
    </div>

    <div class="mission-vision-history">
        <div class="mvh">
            <div class="mission mvh-common">
                <h1>Mission</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
            </div>
            <div class="mission mvh-common">
                <h1>Vision</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
            </div>
            <div class="mission mvh-common">
                <h1>History</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
            </div>
        </div>
    </div>

    <div class="slider">
        <div class="slider-element active">
            <div class="content">
                <h1>SLİDER ELEMENT 1</h1>
                <p class="slider-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab explicabo praesentium ut molestias labore officiis quaerat, aspernatur fuga eligendi.</p>
            </div>
        </div>
        <div class="slider-element">
            <div class="content">
                <h1>SLİDER ELEMENT 2</h1>
                <p class="slider-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab explicabo praesentium ut molestias labore officiis quaerat, aspernatur fuga eligendi.</p>
            </div>
        </div>
        <div class="slider-element">
            <div class="content">
                <h1>SLİDER ELEMENT 3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab explicabo praesentium ut molestias labore officiis quaerat, aspernatur fuga eligendi.</p>
            </div>
        </div>
        <div class="slider-element active">
            <div class="content">
                <h1>SLİDER ELEMENT 4</h1>
                <p class="slider-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab explicabo praesentium ut molestias labore officiis quaerat, aspernatur fuga eligendi.</p>
            </div>
        </div>
        <div class="buttons">
            <div class="buttons-container">
                <button class="slider-buttons prv">pre</button>
                <button class="slider-buttons nxt">nxt</button>
            </div>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %>
    
</body>
</html>