<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slider.css">
    <script src="/js/slider.js" defer></script>
    <script src="/js/navbar.js" defer></script>
</head>
<body>

    <nav class="navbar">
        <div class="brand">EduPortal</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/courses.html">Courses</a></li>
                <li><a href="/dashboard.html">Dashboard</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/login.html">L</a></li>
                <li><a href="/register.html">R</a></li>
            </ul>
        </div>
    </nav>

    <div class="carousel about-carousel">
        <div class="carousel-items">
            <h1>Courses</h1>
            <div class="courses-flex-part">
                <p class="carousel-text courses-top-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est, fugiat quibusdam neque exercitationem, saepe quasi, optio vero nulla officiis aperiam porro id tenetur quod iure eligendi ipsum ratione temporibus?
                </p>
            </div>
        </div>
    </div>

    <div class="course-page-body">
        <div class="course-list">
            <div class="courses">
                <div class="course">
                    <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                    <div class="course-info">
                        <h2 class="course-title"><a href="/course.html" class="lesson">HTML CSS Dersleri</a></h2>
                        <p class="course-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quod tenetur animi quos libero cum nostrum alias ad atque fugiat!</p>
                        <hr class="teacher-hr">
                        <p>Teacher : Emirhan Happy</p>
                    </div>
                </div>
                <div class="course">
                    <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                    <div class="course-info">
                        <h2 class="course-title"><a href="/course.html" class="lesson">HTML CSS Dersleri</a></h2>
                        <p class="course-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quod tenetur animi quos libero cum nostrum alias ad atque fugiat!</p>
                        <hr class="teacher-hr">
                        <p>Teacher : Emirhan Happy</p>
                    </div>
                </div>
                <div class="course">
                    <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                    <div class="course-info">
                        <h2 class="course-title"><a href="/course.html" class="lesson">HTML CSS Dersleri</a></h2>
                        <p class="course-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quod tenetur animi quos libero cum nostrum alias ad atque fugiat!</p>
                        <hr class="teacher-hr">
                        <p>Teacher : Emirhan Happy</p>
                    </div>
                </div>
                <div class="course">
                    <img src="/img/dark-forest.jpg" class="course-img" width="300" height="300" alt="">
                    <div class="course-info">
                        <h2 class="course-title"><a href="/course.html" class="lesson">HTML CSS Dersleri</a></h2>
                        <p class="course-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quod tenetur animi quos libero cum nostrum alias ad atque fugiat!</p>
                        <hr class="teacher-hr">
                        <p>Teacher : Emirhan Happy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-categories">
            <div class="search-part">
                <div class="input-part">
                    <input type="text" class="category-input">
                    <button>Search</button>
                </div>
                <h2>Categories</h2>
                <ul class="categories">
                    <li>Web Design</li>
                    <li>Programming</li>
                    <li>Machine Learning</li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="aboutUs">
            <div><h1>About Us</h1></div>
            <p class="common-links"><a href="#">Integer rutrum ligula eu</a></p>
            <p class="common-links"><a href="#">dignissim laoreet. Pellentesque</a></p>
            <p class="common-links"><a href="#">venenatis nibh sed tellus</a></p>
            <p class="common-links"><a href="#">faucibus bibendum. Sed</a></p>
            <p class="common-links"><a href="#">fermentum est vitae rhoncus</a></p>
            <p class="common-links"><a href="#">molestie. Cum sociis natoque</a></p>
        </div>
        <div class="info-link">
            <div><h1>Information Links</h1></div>
            <p class="common-links"><a href="#">Home</a></p>
            <p class="common-links"><a href="#">Blog</a></p>
            <p class="common-links"><a href="#">Pricing</a></p>
            <p class="common-links"><a href="#">About</a></p>
            <p class="common-links"><a href="#">Contact</a></p>
        </div>
        <div class="contact-details">
            <div><h1>Contact Details</h1></div>
            <p class="common-links"><a href="#">info@yoursite.com</a></p>
            <p class="common-links"><a href="#">www.yoursite.com</a></p>
            <p class="common-links"><a href="#">PO Box 16122 Collins Street</a></p>
            <p class="common-links"><a href="#">+61 3 8376 6284</a></p>
        </div>
    </footer>
    <div class="reserved">
        All Rights Reserved. © 2022 EduPortal Created By : Emirhan
    </div>
    
</body>
</html>