    <%- include('partials/_header.ejs') %> 
    <%- include('partials/_navigation.ejs') %> 

    <div class="main-container">
        <div class="container">
            <div class="top-of-form">
                <h2>REGISTER</h2>
            </div>
        
            <form class="contact" method="POST" action="users/signup">
                <input type="name" name="name" class="name form-common" placeholder="Your Name">
                <input type="email" name="email" class="email form-common" placeholder="Your Email">
                <select name="role" class="form-common">
                    <option value="student">student</option>
                    <option value="teacher">teacher</option>
                </select>
                <input type="password" name="password" class="email form-common" placeholder="Your Password">
                <div class="button-div">
                    <button type="submit" class="contact-btn">Register</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %> 
    
</body>
</html>z